* {padding: 0; margin: 0;}

body {
    background-image: url(images/background.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: antiquewhite;
    font-family: 'Roboto Condensed', sans-serif;
}

iframe {border-radius: 10px;}

main {
    text-align: center;
}

/* Navbar Settings */

nav {
    position: fixed;
    width: 100%;
    background-color: black;
    overflow: hidden;
    top: 0;
    z-index: 10;
}

/* Navbar Styling */
nav a {
    float: left;
    color: lightgray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(44, 44, 44);
    color: rgb(239, 0, 0);
}

nav a:active {color: rgb(239, 0, 0);}

/* Adjusting right links */
.right {float: right;}

/* Center links */
#nav-center a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(239, 0, 0);
}

#nav-center a:hover {color: antiquewhite;}

label {
    font-size: 37px;
    line-height: auto;
    color: antiquewhite;
    display: none;
    width: 26px;
    float: right;
    margin-right: 15px;
}
#toggle {display: none;}

/* Navbar mobile settings */
@media screen and (max-width: 575px) {
    label {
        display: block;
        cursor: pointer;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a {
        clear: right;
        display: block;
        border-bottom: 1px solid white;
        margin: 0;
        float: none;
    }
    #toggle:checked + .menu {display: block;}
}

/* End Navbar Settings */

/* Home Page Settings */
h1 {
    text-align: center;
    margin-top: 80px;
    font-size: 4em;
    text-shadow: 5px 5px 5px black;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    text-shadow: 5px 5px 5px black;
    color: rgb(239, 0, 0);
}

#demoReel {
    margin-top: 30px;
}

#latest {
    font-size: 3em;
    margin-top: 80px;
    margin-bottom: 20px;
    text-shadow: 5px 5px 5px black;
}

/* Contact Page Settings */
.contact {
    font-size: 3em;
    color: antiquewhite;
}

.contactLink {
    font-size: 3em;
    text-decoration: none;
    font-weight: bold;
    color: rgb(239, 0, 0);
    text-shadow: 5px 5px 5px black;
}

/* About me Page Settings */
img {border-radius: 10px;}

#aboutMe {
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    text-shadow: 5px 5px 5px black;
    font-size: 1.5em;
}